# Visual Studio
.vs/*

# Visual Studio Code
.vscode/*
*.code-workspace

# Jetbrains IDE's
.idea/
# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
[Tt]humbs.db
[Tt]humbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# node modules
node_modules/*

# Build artifacts
build/

# Distrubution files
dist/

# Package builds
package/

# Foundry config file
foundryconfig.json

# Foundry.js
foundry.js
